body {
  background-color: rgb(50, 50, 50);
  font-family: helvetica;
}

h1 {
  color: rgb(225, 225, 225);
  font-size: 45px;
  text-align: left;
  padding-left: 20px;
}

h2 {
  color: rgb(225, 225, 225);
  text-align: left;
}


h3 {
  color: rgb(225, 225, 225);
  text-align: left;
}

h4 {
  color: rgb(225, 225, 225);
  text-align: left;
}

a {
  color: rgb(225, 225, 225);
  text-decoration: none;
}

a:hover, a:active {
  text-decoration: underline;
}


#pic1 {
  float: left;
}

#about {
  text-align: left;
  width: 500px;
  padding: 15px;
  background-color: rgba(95, 95, 95, 0.5);
  display: inline-block;
  font-size: 16px;
  color: rgb(205, 205, 205);
}

#buttons{
  background-color: rgba(125, 125, 125, 0.3);
  text-align: left;
}

.button {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    padding: 12px 24px;
    border: 0px solid #ffffff;
    border-radius: 7px;
    background: rgba(125, 125, 125, 0.0);
    text-shadow: #8f8c8f 0px 0px 1px;
    font: normal normal 18px helvetica;
    color: #e2e2e2;
    text-decoration: none;
}
.button:hover,
.button:focus {
    color: #ffffff;
    text-shadow: 2px 0px #adadad;
    text-decoration: none;
}
.button:active {
    background: #999999;
}






#work {
  text-align: center;
  width: 550px;
  padding: 15px;
  margin-bottom: 30px;
  background-color: rgba(235, 255, 250, 0.5);
  float: left;
  clear: left;
}

#education {
  text-align: center;
  width: 500px;
  padding: 15px;
  margin: auto;
  margin-bottom: 30px;
  margin-left: 30px;
  background-color: rgba(235, 255, 250, 0.5);
  float:left;
}

#skills {
  float: left;
  width: 450px;
  padding: 15px;
  margin-left: 30px;
  margin-bottom: 30px;
  background-color: rgba(235, 255, 250, 0.5);


}
