body {
  background-color: rgb(172, 226, 209);
  font-family: helvetica;
  overflow: auto;
}

h1 {
  color: rgb(42, 47, 71);
  font-size: 45px;
  margin-left: 300px;
}

h2 {
  text-align: center;
}

h3 {
  text-align: center;
}

h4 {
  text-align: center;
}

a {
  color: black;
  text-decoration: none;
}

a:hover, a:active {
  text-decoration: underline;
}

#pic1 {
  float: left;
  margin-left: 50px;
  margin-bottom: 30px;
}

#sec1 {
  text-align: center;
  width: 400px;
  padding: 15px;
  margin-left: 400px;
  background-color: rgba(235, 255, 250, 0.3);
}

#work {
  text-align: center;
  width: 550px;
  padding: 15px;
  margin-bottom: 30px;
  background-color: rgba(235, 255, 250, 0.3);
  float: left;
  clear: left;
}

#education {
  text-align: center;
  width: 500px;
  padding: 15px;
  margin: auto;
  margin-bottom: 30px;
  margin-left: 30px;
  background-color: rgba(235, 255, 250, 0.3);
  float:left;
}

#skills {
  float: left;
  width: 450px;
  padding: 15px;
  margin-left: 30px;
  margin-bottom: 30px;
  background-color: rgba(235, 255, 250, 0.3);

}
